number_of_tasks = 10
number_of_resources = 4
solution_packing = true

task_resource_requirements {
  1 = [1,0,0,0]
  2 = [0,1,0,0]
  3 = [0,0,1,0]
  4 = [0,0,0,1]
  5 = [1,0,0,0]
  6 = [0,1,0,0]
  7 = [0,0,1,0]
  8 = [0,0,0,1]
  9 = [1,0,0,0]
  10 = [0,1,0,0]
}

task_ids {
  1 = 1
  2 = 2
  3 = 3
  4 = 4
  5 = 5
  6 = 6
  7 = 7
  8 = 8
  9 = 9
  10 = 10
}

product_id {
  1 = 1
  2 = 1
  3 = 1
  4 = 1
  5 = 1
  6 = 1
  7 = 1
  8 = 1
  9 = 1
  10 = 1
}

task_duration {
  1 = 150
  2 = 100
  3 = 120
  4 = 10
  5 = 90
  6 = 180
  7 = 30
  8 = 200
  9 = 270
  10 = 20
}

task_costs {
  1 = 8
  2 = 8
  3 = 5
  4 = 1
  5 = 49
  6 = 111
  7 = 6
  8 = 174
  9 = 62
  10 = 1
}

task_probability_of_success {
  1 = 1
  2 = 1
  3 = 1
  4 = 0.84
  5 = 0.98
  6 = 1
  7 = 0.95
  8 = 1
  9 = 1
  10 = 1
}

task_costs_of_outsourcing {
  1 = 16
  2 = 16
  3 = 10
  4 = 2
  5 = 98
  6 = 222
  7 = 12
  8 = 348
  9 = 124
  10 = 2
}

interest_rate = 0.0068
tabu_size = 200
cycles = 99
outsource_1_in = 10000

steps {
  standard {
    removes = 3
    cycle_max = 100
    moves_max = 20
  }

  intensification {
    removes = 1
    cycle_max = 10
    moves_max = 100
  }

  aspiration {
    removes = 10
  }
}

resources_available = [1,1,1,1]

task_requirements {
  1 = []
  2 = []
  3 = []
  4 = [7]
  5 = [1]
  6 = [2]
  7 = [3]
  8 = [4]
  9 = [5]
  10 = [5, 6]
}


















